@page "/chases/edit/{id}"
@inherits ChaseEditBase

        <EditForm Model="@ChaseViewModel" OnValidSubmit="Edit_Click" OnInvalidSubmit="HandleInvalidSubmit">
            <DataAnnotationsValidator />

            <Titles Text="Chase Edit"
                    BackButton="true" BackRoute="@BackRoute" />
            <div class="form-container">
                <ChaseForm ChaseViewModel="@ChaseViewModel" NullOption="@NullOption"
                           stringHits="@stringHits" stringRepeat="@stringRepeat" />

                <button class="btn btn-primary rounded-pill" type="submit">Submit</button>
                <a class="btn btn-secondary rounded-pill" href="@BackRoute">Cancel</a>
            </div>
        </EditForm>

        <Confirm ConfirmChanged="ConfirmEdit_Click" @ref="EditConfirmation"
                 ConfirmMessage="@($"Are you sure you want to edit attack Id: {ChaseViewModel.Id} ?")"
                 ConfirmTitle="Confirm Edit"
                 ConfirmYes="Save Changes"
                 ConfirmNo="Cancel"></Confirm>

        <Alert AlertMessage="Make sure to check if all fields are valid!"
               @ref="AlertDisplay"></Alert>