<!-- Name -->
<div class="form-group row anim-fade">
    <label for="Name" class="col-sm-2 col-form-label">
        Name
    </label>
    <div class="col-sm-10">
        <InputText id="name" class="form-control"
                   placeholder="@(PassiveViewModel.Name == null ? "" : PassiveViewModel.Name)"
                   @bind-Value="PassiveViewModel.Name" />
        <div style="min-height: 1.5em">
            <ValidationMessage For="@(() => PassiveViewModel.Name)" />
        </div>
    </div>
</div>
<!-- Attribute 1 -->
<div class="form-group row anim-fade">
    <label for="Attribute1" class="col-sm-2 col-form-label">
        Attribute 1
    </label>
    <div class="col-sm-10">
        <InputSelect id="attribute1" class="form-control" @bind-Value="PassiveViewModel.Attribute1">
            <option>@NullOption</option>
            @foreach (var item in Enum.GetValues(typeof(Attributes)))
            {
                <option value="@item">@item</option>
            }
        </InputSelect>
        <div style="min-height: 1.5em">
            <ValidationMessage For="@(() => PassiveViewModel.Attribute1)" />
        </div>
    </div>
</div>
<!-- Attribute 2 -->
<div class="form-group row anim-fade">
    <label for="Attribute2" class="col-sm-2 col-form-label">
        Attribute 2
    </label>
    <div class="col-sm-10">
        <InputSelect id="attribute2" class="form-control" @bind-Value="PassiveViewModel.Attribute2">
            <option>@NullOption</option>
            @foreach (var item in Enum.GetValues(typeof(Attributes)))
            {
                <option value="@item">@item</option>
            }
        </InputSelect>
        <div style="min-height: 1.5em">
            <ValidationMessage For="@(() => PassiveViewModel.Attribute2)" />
        </div>
    </div>
</div>
<!-- Jutsu 1 -->
<div class="form-group row anim-fade">
    <label for="Jutsu1" class="col-sm-2 col-form-label">
        Jutsu 1
    </label>
    <div class="col-sm-10">
        <InputSelect id="jutsu1" class="form-control" @bind-Value="PassiveViewModel.Jutsu1">
            <option>@NullOption</option>
            @foreach (var item in Enum.GetValues(typeof(Jutsus)))
            {
                <option value="@item">@item</option>
            }
        </InputSelect>
        <div style="min-height: 1.5em">
            <ValidationMessage For="@(() => PassiveViewModel.Jutsu1)" />
        </div>
    </div>
</div>
<!-- Jutsu 2 -->
<div class="form-group row anim-fade">
    <label for="Jutsu2" class="col-sm-2 col-form-label">
        Jutsu 2
    </label>
    <div class="col-sm-10">
        <InputSelect id="jutsu2" class="form-control" @bind-Value="PassiveViewModel.Jutsu2">
            <option>@NullOption</option>
            @foreach (var item in Enum.GetValues(typeof(Jutsus)))
            {
                <option value="@item">@item</option>
            }
        </InputSelect>
        <div style="min-height: 1.5em">
            <ValidationMessage For="@(() => PassiveViewModel.Jutsu2)" />
        </div>
    </div>
</div>
<!-- Effects -->
<div class="form-group row anim-fade">
    <label for="Effects" class="col-sm-2 col-form-label">
        Effects
    </label>
    <div class="col-sm-10">
        <InputText id="effects" class="form-control"
                   placeholder="@(PassiveViewModel.Effects == null ? "" : PassiveViewModel.Effects)"
                   @bind-Value="PassiveViewModel.Effects" />
        <div style="min-height: 1.5em">
            <ValidationMessage For="@(() => PassiveViewModel.Effects)" />
        </div>
    </div>
</div>
<!-- Description -->
<div class="form-group row anim-fade">
    <label for="Description" class="col-sm-2 col-form-label">
        Description
    </label>
    <div class="col-sm-10">
        <InputText id="description" class="form-control"
                   placeholder="@(PassiveViewModel.Description == null ? "" : PassiveViewModel.Description)"
                   @bind-Value="PassiveViewModel.Description" />
        <div style="min-height: 1.5em">
            <ValidationMessage For="@(() => PassiveViewModel.Description)" />
        </div>
    </div>
</div>
<!-- Image path -->
<div class="form-group row anim-fade">
    <label for="ImagePath" class="col-sm-2 col-form-label">
        Image Path
    </label>
    <div class="col-sm-10">
        <InputText id="imagePath" class="form-control"
                   placeholder="@(PassiveViewModel.ImagePath == null ? "" : PassiveViewModel.ImagePath)"
                   @bind-Value="PassiveViewModel.ImagePath" />
        <div style="min-height: 1.5em">
            <ValidationMessage For="@(() => PassiveViewModel.ImagePath)" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public PassiveViewModel PassiveViewModel { get; set; } = new PassiveViewModel();
    [Parameter]
    public string NullOption { get; set; } = "None";
}